*{
    font font-family:Arial,Helvetica,sans-serif;
}
body{
     background-color:aqua;
}
h2{
    text-align:center;
    color:#2c3e50
}
form{
    background-color:white;
    width:350px;
    padding: 20px;
    margin:auto;
    border:1px solid #ccc;
}
input[type="radio"],
input[type="checkbox"]{
    margin-right: 5px;
}
input [type="submit"] {
       background-color: blue;    
       color:azure;
       width: 100%;
       padding: 10px;
 
}

input [type="submit"]:hover {
    background-color: fuchsia(110, 95, 160);
}
{
    font-family:''
}
    
